{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Perfil{% endblock title %}


{% block head %} 
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/alerts.css' %}">
{% endblock head %}


{% block content %}
    <div class="container">
        <h1>Olá, {{ request.user }}!</h1>
        <hr>
        <a class="btn btn-danger" href="{% url 'account_logout' %}">Sair</a>
    </div>
{% endblock content %}