{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Acesso negado{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
    <div class="container mb-4">
        <h1 class="text-center"><i class="bi bi-ban text-danger"></i>&nbsp;Acesso negado</h1>

        <hr>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <p>Você não tem acesso ao sistema. Seu usuário está inativo.</p>
            <p>Caso você tenha dúvidas, entre em contato com o professor da disciplina.</p>
            <p>Se você é um professor, entre em contato com o administrador do sistema.</p>
            <a href="{% url 'account_login' %}">Voltar para o login</a>
        </div>
    </div>
{% endblock content %}