{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Change email" %}{% endblock title %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block content %}

    <div class="container mb-4">
        <div class="text-center">
            <h1><i class="bi bi-envelope"></i> {% trans "Change email" %}</h1>
            <hr>
        </div>

        <form method="POST" action="{% url 'account_email' %}" class="p-3 rounded bg-secondary-subtle">
            {% csrf_token %}

            {% if not emailaddresses %}
                <p>{% trans "You currently don't have an email address set up. You really should add an email address so you can receive notifications, reset your password, etc." %}</p>
            {% endif %}
            
            {% if current_emailaddress %}
                <label for="current_email" class="form-label">{% trans "Actual" %}</label>
                <div class="input-group flex-nowrap mb-4">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input disabled id="current_email" type="email" class="form-control" value="{{ current_emailaddress.email }}">
                </div>
            {% endif %}

            {% if new_emailaddress %}
                <label for="new_email" class="form-label">
                    {% if not current_emailaddress %}
                        {% trans "Actual email" %}:
                    {% else %}
                        {% trans "Changing to" %}:
                    {% endif %}
                </label>
                <div class="input-group flex-nowrap mb-4">
                    <input disabled id="new_email" type="email" class="form-control" value="{{ new_emailaddress.email }}">
                    <span class="input-group-text" id="addon-wrapping">@email.com</span>
                </div>
                <div class="mb-3 text-center">
                    <div class="form-text">
                        {% trans "Your new email address still needs to be verified." %}
                    </div>
                    <button type="submit" name="action_send" class="btn btn-secondary mt-2 me-3">
                        {% trans "Resend verification" %}
                    </button>
                    {% if current_emailaddress %}
                        <button type="submit" name="action_remove" class="btn btn-danger mt-2">
                            {% trans "Cancel change" %}
                        </button>
                    {% endif %}
                </div>
            {% endif %}

            <label for="{{ form.email.auto_id }}" class="form-label">{% trans "Changing to" %}:</label>
            <div class="input-group flex-nowrap mb-4">
                <input id="{{ form.email.auto_id }}" type="email" name="email" class="form-control" required>
                <span class="input-group-text" id="addon-wrapping">@email.com</span>
            </div>

            <div class="text-center">
                <button type="submit" name="action_add" class="btn btn-lg btn-primary w-50 mt-2">{% trans "Change email" %}</button>
            </div>
        </form>

        {% if new_emailaddress %}
            <form style="display: none" id="pending-email" method="POST" action="{% url 'account_email' %}">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
            </form>
        {% endif %}
    </div>
{% endblock content %}
