{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Confirme o email{% endblock title %}

{% block head %}
    {{form.media}}
{% endblock head %}

{% block content %}

    <div class="container my-4">
        <div class="text-center">
            <div class="text-center">
                <h1><i class="bi bi-envelope-exclamation"></i>&nbsp;Confirme o email</h1>
                <hr>
            </div>

            <div class="p-3 rounded bg-secondary-subtle">
                {% if confirmation %}
                    {% if can_confirm %}
                        {% with confirmation.email_address.email as email %}
                            <p>Por favor, confirme que <a href="mailto:{{ email }}">{{ email }}</a> é o endereço de email do usuário <b>{{confirmation.email_address.user.name}}</b></p>
                        {% endwith %}
    
                        {% url 'account_confirm_email' confirmation.key as action_url %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ redirect_field }}
                            {{form|crispy}}
                
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-success w-50 mt-2"><i class="bi bi-check-circle-fill"></i> &nbsp;Confirmar</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="form-text">Não é possível confirmar {{email}} porque esse email já foi confirmado com outra conta.</p>
                    {% endif %}
                {% else %}
                    <p class="form-text">Esse link de confirmação expirou ou já foi utilizado.</p>
                {% endif %}
            </div>

        </div>        

    </div>
{% endblock content %}