{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Password changed" %}{% endblock title %}

{% block head %}
    {{form.media}}
{% endblock head %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1><i class="bi bi-shield-lock-fill"></i> {% trans "Password reset" %}</h1>
            <hr>
        </div>
        <div class="text-center mt-3 p-3 rounded bg-secondary-subtle">
            <p class="form-text">{% trans "Your password has been changed successfully." %}</p>
        </div>
    </div>
{% endblock content %}