{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Email sent" %}{% endblock title %}

{% block head %}
    {{form.media}}
{% endblock head %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1><i class="bi bi-envelope-check"></i>&nbsp;Email enviado</h1>
            <hr>
        </div>
        <div class="text-center p-3 rounded bg-secondary-subtle">
            <p class="form-text">Nós enviamos um e-mail com instruções para redefinir sua senha.</p>
            <p class="form-text">Caso não tenha recebido o e-mail, verifique sua caixa de spam ou lixo eletrônico.</p>
        </div>
    </div>
{% endblock content %}