{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Password changed" %}{% endblock title %}

{% block head %}
    {{form.media}}
{% endblock head %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1><i class="bi bi-shield-lock-fill"></i>&nbsp;Senha alterada</h1>
        </div>
        
        <hr>
        
        <div class="text-center mt-3 p-3 rounded bg-secondary-subtle">
            <p class="form-text">Sua senha foi alterada com sucesso.</p>
            <p class="form-text">Você pode agora fazer login com sua nova senha.</p>
        </div>
    </div>
{% endblock content %}