[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
certifi = "==2022.5.18.1"
cffi = "==1.15.0"
chardet = "==4.0.0"
crispy-tailwind = "==0.5.0"
deprecated = "==1.2.13"
dj-database-url = "==0.5.0"
django = "==3.2.16"
django-admin-multiple-choice-list-filter = "==0.1.1"
django-crispy-forms = "==1.14.0"
django-debug-toolbar = "==3.4.0"
django-filter = "==22.1"
gunicorn = "==20.1.0"
idna = "==2.10"
psycopg2-binary = "==2.9.3"
pycparser = "==2.21"
pygithub = "==1.55"
pygments = "==2.13.0"
pyjwt = "==2.4.0"
pynacl = "==1.5.0"
python-decouple = "==3.6"
pytz = "==2022.1"
requests = "==2.25.1"
sqlparse = "==0.4.2"
urllib3 = "==1.26.9"
whitenoise = "==6.2.0"
wrapt = "==1.14.1"
django-apscheduler = "==0.6.2"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
