{% extends "base.html" %}
{% load i18n %}

{% block title %} plpPoolWeb | Senha alterada {% endblock %}

{% block branding %} <h1 class="site-name"> <a href="{% url 'plpPool:pagina_inicial' %}">plpPoolWeb</a> </h1> {% endblock %}

{% block usertools %}
{% endblock %}

{% block breadcrumbs %}
<!-- NAVBAR -->
<div class="breadcrumbs">
</div>
{% endblock %}

{% block content %}

<div>
    <h1 > Sua senha foi atualizada </h1>
    <h3> Clique <a href="{% url 'login' %}" class="">aqui</a> para fazer o login.</h3>
</div>

{% endblock content %}
