{% extends "base.html" %}
{% load i18n %}

{% block title %} plpPoolWeb | Email enviado {% endblock %}

{% block branding %} <h1 class="site-name"> plpPoolWeb </h1> {% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        <a href="{% url 'reset_password' %}">{% translate 'Change password' %}</a> /
        <a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block content %}

<div>
    <h1> Enviamos um e-mail para você com um link para redefinir a sua senha </h1>
</div>

{% endblock content %}
