{% extends "base.html" %}
{% load i18n %}

{% block title %} plpPoolWeb | Alterar senha {% endblock %}

{% block branding %} <h1 class="site-name"> plpPoolWeb </h1> {% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        <a href="{% url 'reset_password' %}">{% translate 'Change password' %}</a> /
        <a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block content %}

<div class="password-reset-form">
    <p> Nós enviaremos um email contendo as instruções para atualizar a sua senha </p>
    <hr/>
    <div style="margin-top: 10px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <center>
                <button type="submit" class="bnt-submit"> ENVIAR </button>
            </center>
        </form>
    </div>
</div>

{% endblock content %}
