{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load static %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/admin_style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/highlight.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
        {% if opts.model_name == "questao" %}
        <li>
            <a id="visualizar" href="javascript:void(0);" 
            style="text-decoration: underline; font-weight: bold;"
            class="selected" 
            onclick="changePage('visualizar')"> Visualizar </a>
        </li>
        <li>
            <a id="modificar" href="javascript:void(0);" 
            style="text-decoration: none; font-weight: none;" 
            class=""
            onclick="changePage('modificar')"> Modificar </a>
        </li>
        {% endif %}
        {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% if opts.model_name == "questao" and request.path|verify_url %}
  <!-- Preview Questão -->
  <div id="preview" style="display: block;">
    <br>
    
    <div class="preview_field">
      <details >
        <summary style="cursor: pointer;"> Feedback </summary>
        <form action="{% url 'plpPool:feedback' %}" method="post">
          {% csrf_token %}
          <textarea name="feedback" id="feedback" style="width: 97%; min-height: 8em;" placeholder="Feedback"></textarea>
          <br>
          <input type="hidden" name="pk" value='{{adminform.form.instance.id}}'>
          <center><button type="submit" class="bnt-submit" > Enviar </button></center>
        </form>
      </details>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="autor"> Autor: </label> <span> {{ adminform.form.instance.autor }} </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="periodo"> Período: </label> <span> {{ adminform.form.instance.periodo }} </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="linguagem"> Linguagem: </label>
        <span> 
          {{ adminform.form.instance.linguagem }} 
        </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
        <label for=""> Tipo: </label>
        <span> 
          {{ adminform.form.instance.tipo }} 
        </span>
    </div>
    <hr style="margin-top: 20px;">

    <div class="preview_field">
      <div>
        <label for=""> Tags: </label>
      </div>
      <div id="tag-list-preview">
          {% for tag in adminform.form.instance.tags.all %}
            <span class="tag-obj-preview"> {{ tag }} </span>
          {% empty %}
            <h2> Nenhuma tag adicionada </h2>
          {% endfor %}
      </div>
    </div>
    <hr style="margin-top: 20px;">

    <div class="preview_field">
      <button class="empty-bnt" title="Copiar" onclick="clipboard('descricao')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
      <input id="descricao" type="hidden" value="{{adminform.form.instance.descricao}}">

      <label for="descricao"> Descrição: </label>
      <div class="overflow-div" >
        <div style="margin-top: 10px; margin-bottom: 10px;">
          {% for line in adminform.form.instance.descricao|str_lines_strip %}
            <span style="white-space: pre;">{{ line }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <button class="empty-bnt" title="Copiar" onclick="clipboard('codigo')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
      <input id="codigo" type="hidden" value="{{adminform.form.instance.codigo}}">
      
      <label for="codigo"> Código: </label>
      <div class="overflow-div">
        <div style="margin-top: 10px;margin-bottom: 10px;padding: 5px;background-color: #121212;border-radius: 5px;">
          {{adminform.form.instance.codigo|highlight_code:adminform.form.instance.linguagem}}
        </div>
      </div>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <details >
        <summary style="cursor: pointer;"> Compilador </summary>
          <textarea id="entrada" style="width: 97%; min-height: 8em" placeholder="Entrada"></textarea>
          <div id="compilador_saida">
            <textarea id="saida" style="width: 97%; min-height: 8em" readonly placeholder="Saída"></textarea>
          </div>
          <center>
            <button class="bnt-submit" onclick="run_test()"> Executar </button>
          </center>
      </details>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <div id="run_tests_header">
        <button class="empty-bnt" title="Copiar" onclick="clipboard('testes')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
        <label for="testes"> Testes: </label>
        <button onclick="run_tests()" class="bnt-submit" title="Executar todos testes"> RUN </button>
        <img src="{%static 'images/loading.svg' %}" id="loading_img" style="visibility:hidden">
      </div>
      <div id="testes">
        {% for teste in adminform.form.instance.testes.all %}
        <ul class="border">
          <li style="display: inline;"> 
            <h3 style="text-decoration: underline;"> Teste <strong> #{{ forloop.counter }} </strong> - {{ teste.tipo }}</h3>
            <input type="hidden" name="teste_id" value="{{teste.id}}">
            <div class="overflow-div" >
              <div class="test_title">
                <img class="test_icon" src="{% static 'images/right_to_bracket.svg' %}"> 
                <span> <b> Entrada: </b> </span>
              </div>
              <div style="margin-bottom: 10px;">
                {% for line in teste.entrada|str_lines_strip %}
                  <span style="white-space: pre;">{{ line }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="overflow-div" >
              <div class="test_title">
                <img class="test_icon" src="{% static 'images/right_from_bracket.svg' %}">
                <span> <b> Saída: </b> </span>
              </div>
              <div style="margin-bottom: 10px;">
                {% for line in teste.saida|str_lines_strip %}
                  <span style="white-space: pre;">{{ line }}</span>
                {% endfor %}
              </div>
            </div>
          </li>

          <details style="margin-bottom: 5px;">
            <summary style="cursor: pointer;"> Execução: </summary>
            <div style="width: 98.9%; padding:5px">
              <textarea class="testes-run-outputs" style="width: 97%; min-height: 8em" readonly placeholder="Saída"></textarea>
            </div>
          </details>
        </ul>
        {% empty %}
          <h2> Nenhum teste adicionado </h2>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <script defer>
    async function run_test() {
      let entrada = document.getElementById("entrada").value;
      await fetch("{% url 'plpPool:run_test' %}", {
          method: 'POST',
          body: JSON.stringify({'questao_id':'{{adminform.form.instance.id}}', 'entrada':entrada}),
          headers: {
              'Accept': 'application/json',
          },
      })
      .then(response => response.json())
      .then(text => document.getElementById("saida").value = text['output'])
    }
    async function run_tests() {
      let loading = document.getElementById("loading_img")
      loading.setAttribute('style','visibility:visible');
      await fetch("{% url 'plpPool:run_all_tests' %}", {
        method: 'POST',
        body: JSON.stringify({'questao_id':'{{adminform.form.instance.id}}'}),
        headers: {
          'Accept': 'application/json',
        },
      })
      .then(response => response.json())
      .then(text => {
        document.querySelectorAll(".testes-run-outputs").forEach(function(ta, i){
          if(text[i]["passou"]){
            ta.value = text[i]["output"]
            ta.parentElement.parentElement.style.color = 'green';
            ta.style.color = 'green';
          } else {
            ta.value = text[i]["output"]
            ta.parentElement.parentElement.style.color = 'red';
            ta.style.color = 'red';
          }
        })
        loading.setAttribute('style','visibility:hidden');
      })
    }
  </script>


{% if opts.model_name == "questao" and request.path|verify_url %}
    <div id="content-main" style="display: none;">
{% else %}
    <div id="content-main">
{% endif %}
  
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
