
/* LOGIN FORM */

.login {
    background: var(--darkened-bg);
    height: auto;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: var(--header-link-color);
}

.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

.login .form-row {
    padding: 4px 0;
}

.login .form-row label {
    display: block;
    line-height: 2em;
}

.login .form-row #id_username, .login .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.login .submit-row {
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}

.login .password-reset-link {
    text-align: center;
}

.preview_field {
    margin-top: 10px;
}

.preview_field textarea {
    margin-top: 5px;
    resize: vertical;
    font-size: 14px;
    padding: 10px;
}

.preview_field label, .preview_field summary {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: medium;
}

.tag-obj-preview {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5);
}

#tag-list-preview {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#testes {
    margin-top: 20px;
}

.bnt-submit{
    background: #264b5d;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}

.bnt-submit:hover {
    background-color: rgba(176, 176, 176, 0.99);
    color: black;
    font-weight: bold;
}

