amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==2025.4
Django==5.2.1
django-allauth==65.8.0
django-appconf==1.1.0
django-cleanup==9.0.0
django-crispy-forms==2.4
django-debug-toolbar==5.2.0
django-extensions==4.1
django-filter==25.1
django-mathfilters==1.0.0
django-model-utils==5.0.0
django-select2==8.4.1
django-solo==1.1.1
docker==7.1.0
emoji==2.14.1
gunicorn==23.0.0
idna==3.10
kombu==5.5.3
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==25.0
pillow==11.2.1
prompt_toolkit==3.0.51
psycopg2-binary==2.9.10
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
rich==14.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
