{% extends "base.html" %}
{% load i18n %}

{% block title %} plpPoolWeb | Informe a nova senha {% endblock %}

{% block branding %} <h1 class="site-name"> <a href="{% url 'plpPool:pagina_inicial' %}">plpPoolWeb</a> </h1> {% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        <a href="{% url 'plpPool:alterar_senha' %}">{% translate 'Change password' %}</a> /
        <a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block content %}

<div class="password-reset-form">
    <p> Informe a sua nova senha </p>
    <hr/>
    <div style="margin-top: 10px;">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <center>
                <button type="submit" class="bnt-submit"> Alterar </button>
            </center>
        </form>
    </div>
</div>

{% endblock content %}
