{% extends "base.html" %}
{% load i18n %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} plpPoolWeb | Minhas Questões {% endblock title %}

{% block branding %} <h1 class="site-name"> plpPoolWeb </h1> {% endblock %}

{% block usertools %}
{% include "session_options.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

<div>
    <h1>Minhas questões</h1>

    <div id="atividades">
        <div>
            <div class="atividade-title">
                <h2>Atividades</h2>
            </div>
            <ul>
                {% for atividade in atividades %}
                    {% if atividade.linguagem == None %}
                        <li>
                            <div class="atividade-container">
                                <div class="atividade-text">
                                    <p>{{atividade.descricao}}</p>
                                </div>
                                <div class="atividade-deadline">
                                    <span><strong>Deadline:</strong></span> {{atividade.data}}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% empty %}
                   <p> Nenhuma atividade </p>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% for p in progresso %}
        <div class="linguagem-container">
            <div class="linguagem-title">
                <h2>{{p.0}}</h2>
            </div>
            <div>
                <div>
                    <div>
                        <div class="minhas-questoes-status">
                            <h3>Básicas</h3>
                            <h3><i>Progresso: {{p.3}}/{{p.1}}</i></h3>
                        </div>
                        <div class="minhas-questoes">
                            <ul>
                                {% for questao in p.5 %}
                                <li>
                                    <div class="questao-info">
                                        <div class="enunciado-questao"><a href="{% url 'plpPool:questao_detail' questao.pk %}">{{questao}}</a></div>
                                        <div>
                                            <div class="bnt-editar-questao-box">
                                                <a href="{% url 'plpPool:questao_edit' questao.pk %}" title="Editar"> <i class="fa-solid fa-pen-to-square"></i> </a>
                                            </div>
                                            <div class="bnt-remover-questao-box">
                                                <a href="{% url 'plpPool:questao_remove' questao.pk %}" title="Remover"> <i class="fa-solid fa-trash"></i> </a>
                                            </div>
                                        </div>
                                        <div style="visibility: hidden;">
                                            <h3>Editar</h3>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                    <p> ... </p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="minhas-questoes-status">
                            <h3>Avançadas</h3>
                            <h3><i>Progresso: {{p.4}}/{{p.2}}</i></h3>
                        </div>
                        <div class="minhas-questoes">
                            <ul>
                                {% for questao in p.6 %}
                                <li>
                                    <div class="questao-info">
                                        <div class="enunciado-questao">
                                            <a href="{% url 'plpPool:questao_detail' questao.pk %}">{{questao}}</a>
                                        </div>
                                        <div>
                                            <div class="bnt-editar-questao-box">
                                                <a href="{% url 'plpPool:questao_edit' questao.pk %}" title="Editar"> <i class="fa-solid fa-pen-to-square"></i></a>
                                            </div>
                                            <div class="bnt-remover-questao-box">
                                                <a href="{% url 'plpPool:questao_remove' questao.pk %}" title="Remover"> <i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        </div>
                                        <div style="visibility: hidden;">
                                            <h3>Editar</h3>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                    <p> ... </p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        {% endfor %}
</div>    

<div class="monitor-form">

    <h1>Submeter questão</h1>

    <form id="form-container" method="POST">
        {% csrf_token %}
        
        <div>
            <p>{{form.enunciado.label_tag}} {{form.enunciado}}</p>
            <p>{{form.enunciado.errors}}</p>
        </div>
        <div style="float: lefat;">
            <center>
                {{form.tipo}}
                {{form.tipo.errors}}
                {{form.tags}}
                {{form.tags.erros}}
                {{form.linguagem}}
                {{form.linguagem.errors}}
            </center>
        </div>
        <div>
            <p>{{form.descricao.label_tag}} {{form.descricao.errors}}</p>
            {{form.descricao}}
        </div>
        <div>
            <p>{{form.codigo.label_tag}} {{form.codigo.errors}}</p>
            {{form.codigo}}
        </div>

        <h2> Testes </h3>

        {{formset.management_form}}
        {% for form in formset %}
        <div class="test-form" style="margin-bottom: 15px;">
            <div>
                {{form.entrada.label_tag}}
                {{form.entrada}}
                {{form.entrada.errors}}

                {{form.saida.label_tag}}
                {{form.saida}}
                {{form.saida.errors}}

                <div class="tests-title" style="margin-top: 5px;">
                    <div>
                        {{form.tipo.label_tag}}
                        {{form.tipo}}
                        {{form.tipo.errors}}
                    </div>
                    <div style="visibility: hidden;">        
                        <span>
                            <button id="del-form" type="button" title="Remover" class="empty-bnt">
                                <a href="#" title="Remover"> <i class="fa-solid fa-trash"></i> </a>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="bnt-test-form" style="margin-top:10px">
            <button id="add-form" style="background-color: transparent; border:none" type="button"><a class="btn btn-info" id="add-test"><i class="fa fa-plus"></i> Adicionar Teste</a></button>
            <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-floppy-o"></i> Salvar</button>
        </div>
    </form>

</div>

{% endblock content %}
