{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %} plpPoolWeb {% endblock title %}

{% block branding %} <h1 class="site-name"> plpPoolWeb </h1> {% endblock %}

{% block usertools %}
{% include "session_options.html" %}
{% endblock %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/highlight.css' %}">
{% endblock extrastyle %}

{% block nav-global %}{% endblock %}

{% block content %}

<div id="preview">
    <br>
    <h1> {{ questao.enunciado }} </h1>

    <div class="preview_field">
      <label for="autor"> Autor: </label> <span> {{ questao.autor }} </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="periodo"> Período: </label> <span> {{ questao.periodo }} </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="linguagem"> Linguagem: </label>
        <span> 
          {{ questao.linguagem }} 
        </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <label for="tipo"> Tipo: </label>
        <span> 
          {{ questao.tipo }} 
        </span>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <div>
        <label for=""> Tags: </label>
      </div>
      <div id="tag-list-preview">
          {% for tag in questao.tags.all %}
            <span class="tag-obj-preview"> {{ tag }} </span>
          {% empty %}
            <h2> Nenhuma tag adicionada </h2>
          {% endfor %}
      </div>
    </div>
    <hr style="margin-top: 20px;">

    <div class="preview_field">
      <button  class="empty-bnt" title="Copiar" onclick="clipboard('descricao')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
      <input id="descricao" type="hidden" value="{{questao.descricao}}">

      <label for="descricao"> Descrição: </label>
      <div class="overflow-div" >
        <div style="margin-bottom: 10px;">
          {% for line in questao.descricao|str_lines_strip %}
            <span style="white-space: pre;">{{ line }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <button class="empty-bnt" title="Copiar" onclick="clipboard('codigo')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
      <input id="codigo" type="hidden" value="{{questao.codigo}}">

      <label for="codigo"> Código: </label>
      <div class="overflow-div">
        <div style="margin-top: 10px; margin-bottom: 10px;">
          {{questao.codigo|highlight_code:questao.linguagem}}
        </div>
      </div>
  
    </div>
    <hr style="margin-top: 15px;">

    <div class="preview_field">
      <button class="empty-bnt" title="Copiar" onclick="clipboard('testes')"><i style="font-size:18px" class="fa">&#xf0ea;</i></button>
      <input id="testes" type="hidden" name="testes" value="{{questao.testes.all|tests_to_clipboard}}">

      <label for="testes"> Testes: </label>
      <div id="testes">
        {% for teste in questao.testes.all %}
        <ul class="border">
          <li style="display: inline;" > 
            <h3> Teste <strong> #{{ forloop.counter }} </strong> - {{ teste.tipo }}</h3>
            <div class="overflow-div" >
              <div style="margin-top: 10px; margin-bottom: 10px;">
                <p> <b> Entrada: </b> </p>
                {% for line in teste.entrada|str_lines_strip %}
                  <span style="white-space: pre;">{{ line }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="overflow-div" >
              <div style="margin-top: 10px; margin-bottom: 10px;">
                <p> <b> Saída: </b> </p>
                {% for line in teste.saida|str_lines_strip %}
                  <span style="white-space: pre;">{{ line }}</span>
                {% endfor %}
              </div>
            </div>
          </li>
        </ul>
        {% empty %}
            <h2> Nenhum teste adicionado </h2>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock content %}
