{% extends "base.html" %}
{% load i18n %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} plpPoolWeb | Minhas Questões {% endblock title %}

{% block branding %} <h1 class="site-name"> plpPoolWeb </h1> {% endblock %}

{% block usertools %}
{% include "session_options.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}

    <div>
        <h1>Minhas questões</h1>

        <div id="atividades">
            <div>
                <div class="atividade-title">
                    <h2>Atividades</h2>
                </div>
                <ul>
                    <li>
                        <div class="atividade-container">
                            <div class="atividade-text">
                                <p>Melhorar material do site da disciplina</p>
                            </div>
                            <div class="atividade-deadline">
                                <span><strong>Deadline:</strong></span> 22/22/2022
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        {% for p in progresso %}
            <div class="linguagem-container">
                <div class="linguagem-title">
                    <h2>{{p.0}}</h2>
                </div>
                <div>
                    <div>
                        <div>
                            <div class="minhas-questoes-status">
                                <h3>Básicas</h3>
                                <h3><i>Progresso: {{p.1}}/{{p.3}}</i></h3>
                            </div>
                            <div class="minhas-questoes">
                                <ul>
                                    <li>
                                        <div class="questao-info">
                                            <div class="enunciado-questao"><a href="#">Enunciado questão XX...</a></div>
                                            <div>
                                                <div class="bnt-editar-questao-box"><a href="#" title="Editar"> <i class="fa-solid fa-pen-to-square"></i> </a></div>
                                                <div class="bnt-remover-questao-box"><a href="#" title="Remover"> <i class="fa-solid fa-trash"></i> </a></div>
                                            </div>
                                            <div style="visibility: hidden;">
                                                <h3>Editar</h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="minhas-questoes-status">
                                <h3>Avançadas</h3>
                                <h3><i>Progresso: {{p.2}}/{{p.4}}</i></h3>
                            </div>
                            <div class="minhas-questoes">
                                <ul>
                                    <li>
                                        <div class="questao-info">
                                            <div class="enunciado-questao"><a href="#">Enunciado questão XX...</a></div>
                                            <div>
                                                <div class="bnt-editar-questao-box"><a href="#" title="Editar"> <i class="fa-solid fa-pen-to-square"></i> </a></div>
                                                <div class="bnt-remover-questao-box"><a href="#" title="Remover"> <i class="fa-solid fa-trash"></i> </a></div>
                                            </div>
                                            <div style="visibility: hidden;">
                                                <h3>Editar</h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            {% endfor %}
            <center><button class="btn btn-primary" type="button"><i class="fa fa-floppy-o"></i> Nova questão </button></center>
    </div>    

{% endblock content %}
