{% extends "base.html" %}

{% block content %}
<h1></h1>
    <div class="container mb-4">
        <h1 class="text-center"><i class="bi bi-ban text-danger"></i>&nbsp;Acesso negado</h1>

        <hr>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <p>{{exception}}</p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'user:about' %}" class="btn btn-outline-primary mt-3">Voltar para a página inicial</a>
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-outline-primary mt-3">Voltar para o login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}



