<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 border-bottom bg-secondary-subtle">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="{% url 'user:about' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-white"> 
            <i class="bi bi-code-slash fs-2"></i>&nbsp;<span class="fs-4 font-monospace">plpPoolWeb</span>
        </a>
    </div>
	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 {% if not request.user.is_authenticated %}invisible{% endif %}">
        <li>
            <a href="{% url 'questions:list' %}" class="nav-link px-2 {% if current_tab == 'list' %}link-secondary{% endif %}">
                <i class="bi bi-list-ul"></i>&nbsp;Todas questões
            </a>
        </li>
        <li>
            <a href="{% url 'questions:assistentstudent_list' %}" class="nav-link px-2 {% if current_tab == 'assistentstudent_list' %}link-secondary{% endif %}">
                <i class="bi bi-person-lines-fill"></i>&nbsp;Minhas questões
            </a>
        </li>
	</ul>
	<div class="col-md-4 text-end">
        {% if request.user.is_authenticated  %}
            <a href="{% url 'account_change_password' %}" class="btn btn-warning me-2">
                <i class="bi bi-arrow-repeat"></i>&nbsp;Alterar senha
            </a>
            <a href="{% url 'account_logout' %}" class="btn btn-danger me-2">
                <i class="bi bi-box-arrow-left"></i>&nbsp;Sair
            </a>
        {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-outline-primary me-2">
                Login
            </a>
        {% endif %}
	</div>
</header>
